body {
    background-size: contain;
    background: #7D7D7D url(http://2.bp.blogspot.com/-JW3xV65V4xA/TnIEl6tBnnI/AAAAAAAAAdk/hhzH2RBOpmI/s1600/baffinpaddler_boats-fog-webb-cove-deer-isle-archipelago_stonington-maine-usa_2.JPG) no-repeat center;
    padding: 10px;
    color: #102E37;
    font-family: 'Amatic SC', serif;
    font-size: 20px
}

/* Tablets */
@media (max-width: 992px) {
    body {
        font-size: 15px;
    }
}

/* Phones */
@media (max-width: 768px) {
    body {
        font-size: 10px;
    }
}

.forecast {
    margin-bottom: 20px;
    padding: 10px;
}

.forecast a {
    color: #e7e7e7;
    text-decoration: none;
}

.area-name {
    font-size: 4.5em;
    font-weight: bold
}

.forecast-text {
    font-size: 3.5em;
}

.links {
    margin-top: 50px;
    padding: 10px;
    border-top: 1px solid orange;
    font-size: 2em
}

.links a {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.links a:link {
    text-decoration: none;
    color: orange
}

.links a:visited {
    text-decoration: none;
    color: orange
}

.links a:hover {
    text-decoration: none;
    color: #e7e7e7
}

.links a:active {
    text-decoration: none;
    color: #B3B3B3
}