body {
    background: -webkit-linear-gradient(#2BBBD8, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2BBBD8, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2BBBD8, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2BBBD8, white); /* Standard syntax (must be last) */;
    padding: 10px;
    color: #102E37;
    font-family: 'Amatic SC', serif;
    font-size: 20px
}

/* Tablets */
@media (max-width: 992px) {
    body {
        font-size: 15px;
    }
}

/* Phones */
@media (max-width: 768px) {
    body {
        font-size: 10px;
    }
}

.forecast {
    margin-bottom: 20px;
    padding: 10px;
}

.forecast a {
    color: #102E37;
    text-decoration: none;
}

.area-name {
    font-size: 4.5em;
    font-weight: bold
}

.forecast-text {
    font-size: 3.5em;
}

.links {
    margin-top: 50px;
    padding: 10px;
    border-top: 1px solid lightblue;
    font-size: 2em
}

.links a {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.links a:link {
    text-decoration: none;
    color: lightseagreen
}

.links a:visited {
    text-decoration: none;
    color: lightseagreen
}

.links a:hover {
    text-decoration: none;
    color: darkblue
}

.links a:active {
    text-decoration: none;
    color: lightseagreen
}